@media all and (max-width:800px) {
	* {
		max-width: 100% !important;	
	}
	input {
		max-width: 90% !important;	
	}
	.create-empty, #adminheader, div.website-preview, .headernav {
		display: none;
	}
	#admincontainer {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		padding: 5px 10px !important;
		padding-top: 70px !important;
	}
	body#admin table tr th, body#admin table tr td {
		display: none;
	}
	body#admin table tr th:first-of-type, body#admin table tr td:first-of-type,
	body#admin table tr th.important, body#admin table tr td.important,
	body#admin table tr th:last-of-type, body#admin table tr td:last-of-type {
		display: table-cell;
	}
	.leftnav-bscreen {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index:2;
		bottom: 0;
		background: hsla(0,0%,0%,.7) !important;
		display: none;
	}	.leftnav li {
		color: #333;
		background: hsla(0,0%,100%,1) !important;
		border-radius: 4px;
		margin-top: 6px;
		list-style-type: none;
		transition:0s !important;
		-webkit-transition:0s !important;
		width: auto;
		white-space: nowrap;
		display: block !important;
		float: none;
		margin:0;
		margin-top: 10px;
		padding: 7px 3% !important;
		width: 94% !important;
		padding-top: 13px !important;
	}
	.leftnav {
		z-index:80;
		min-height:auto;
		top: 0;
		background:none !important;
	}
	.website-preview {
		position:relative !important;
		width:100% !Important;
		background-position:0px -572px;
	}
	a .dropdown {
		padding-top: 5px !important;
		margin-top: 2px !important;
	}
	.leftnav,.uppernav {
		display: none;
		position: absolute;
		width: 94% !important;
		padding: 5px 3% !important;
		left: 0;
	}
	.leftnav-toggle {
		z-index: 99;
		display: block;
		position: fixed;
		top:10px;
		right: 10px;
		height: 50px;
		width: 50px;
		background-color: #222;
		opacity: .9;
		border-radius: 50%;
		background-size: cover;
		border:1px solid #222;
		box-shadow:0px 0px 10px black;
		background-image: url(images/menu.png);	
	}
}