.rotate {
	animation: rotate 1.2s infinite linear;
	-webkit-animation: rotate 1.2s infinite linear;
	-moz-animation: rotate 1.2s infinite linear;
	-ms-animation: rotate 1.2s infinite linear;
	-o-animation: rotate 1.2s infinite linear;
} .rotatefast {
	animation: rotate .7s infinite linear;
	-webkit-animation: rotate .7s infinite linear;
	-moz-animation: rotate .7s infinite linear;
	-ms-animation: rotate .7s infinite linear;
	-o-animation: rotate .7s infinite linear;
} .rotateveryfast {
	animation: rotate .4s infinite linear;
	-webkit-animation: rotate .4s infinite linear;
	-moz-animation: rotate .4s infinite linear;
	-ms-animation: rotate .4s infinite linear;
	-o-animation: rotate .4s infinite linear;
} @keyframes rotateright {from{transform:rotateZ(0deg);}to{transform:rotateZ(360deg);}} @-webkit-keyframes rotate {from{-webkit-transform:rotateZ(0deg);}to{-webkit-transform:rotateZ(360deg);}} @-moz-keyframes rotate {from{-moz-transform:rotateZ(0deg);}to{-moz-transform:rotateZ(360deg);}} @-ms-keyframes rotate {from{-ms-transform:rotateZ(0deg);}to{-ms-transform:rotateZ(360deg);}} @-o-keyframes rotate {from{-o-transform:rotateZ(0deg);}to{-o-transform:rotateZ(360deg);}} .browser-icon,.os-icon {
	display:inline-block;border-radius:50%;position:absolute;margin:-5px;width:30px;height:30px;background-image:url(images/browsers.jpeg);
	border:1px solid hsla(0,0%,0%,.4);
/*	box-shadow:0px 0px 5px #333;*/
} .os-icon {
	background-position: -300px 0px;
	border:1px solid hsla(0,0%,0%,.0);border-radius:0px;
} .browser-icon-firefox {
	background-position: 0px 0px;
} .browser-icon-chrome {
	background-position: -30px 0px;
} .browser-icon-safari {
	background-position: -60px 0px;
} .browser-icon-edge {
	background-position: -90px 0px;
} .browser-icon-seamonkey {
	background-position: -120px 0px;
} .browser-icon-opera {
	background-position: -151px 0px;
} .browser-icon-other {
	background-position: -180px 0px;
} .os-icon-linux {
	background-position: -213px 0px;
} .os-icon-apple {
	background-position: -240px 0px;
} .os-icon-windows {
	background-position: -270px 0px;
} .template-preview-btns {
	height:100%;
} .headernav {
	position:fixed;top:13px;right:10px;
} .headernav li {
	padding-left:18px !important;
	background-image: none !important;
	float: right;
} .headernav li.active,.headernav li.active:hover,.headernav li:active {
	background:hsla(0,0%,100%,.7) !important;
} .headernav li:hover {
	background:hsla(0,0%,100%,.4) !important;
} .remove-comment {
	float: right;
	background:#eee;
	padding:1px 10px;
	color: #444;
	border-left:1px solid #888;
	border-bottom:1px solid #888;
	margin-right: -12px;
	margin-top: -10px;
	border-radius:0px 5px 0px 5px;
	opacity: .5;
	cursor: pointer;
} .remove-comment:hover {
	opacity: 1;
} #adminheader .actionicons {
}