#installdiv {
	color:white;background:hsla(0,0%,0%,.3);padding:70px;height:400px;position:absolute;left:50%;top:50%;margin-left:-300px;margin-top:-250px;text-align:center;width:600px;border-radius:20px;border:2px solid cornflowerblue;width:600px;
}
#installdiv * {
	color: white;
}
label{
	color: white;
}
body {
	background:hsl(200,100%,20%);
	background-image:url("images/dot.png");
	background-size: 15px;
}
*{
	color:white;
	text-shadow:0px 0px 10px hsla(0,0%,0%,.2);
}
.rotatefast
{
	margin-top: 15px;
}
.inst-bottom {
	height:200px;background:url("images/gradient-trans-black.png");width:100%;position:fixed;bottom:0;left:0;opacity:.7;z-index:-99999;
}
.inst-top {
	height:100px;background:url("images/gradient-trans-white.png");width:100%;position:fixed;top:0;left:0;opacity:.9;z-index:-99999;
}
.eee {
	background:#f5f5f5 !important;
}
button.btn-success,button.btn-success:hover,input[type=submit].btn-success,input[type=submit].btn-success:hover {
	background:#5CB85C !important;
	color: white;
}
button.btn-primary,button.btn-primary:hover,input[type=submit].btn-primary,input[type=submit].btn-primary:hover {
	background:#428BCA !important;
	color: white;
}
button.btn-warning,button.btn-warning:hover,input[type=submit].btn-warning,input[type=submit].btn-warning:hover {
	background:#F0AD4E !important;
	color: white;
}
.pwcheck {
float:right;margin-top:-27px;margin-right:10px;width:20px;height:20px;background:white;border-radius:10px;box-shadow:inset 0px 0px 5px 1px hsla(0,0%,0%,.1);opacity:.8;
}
.installform-inst input {
	margin-top: 10px;
}
.installform-db input {
	margin-top: 3px;
	margin-bottom: -13px;
}
@media all and (max-width:800px) {
	#sprache img {
		width: 200px !important;	
	}
}
@media all and (min-width:2500px) {
	#sprache img {
		width: 500px !important;	
	}
}