body,body#admin {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color:cornflowerblue;
	background-image:url(images/bg.jpeg);
	background-size:cover;
	background-attachment: fixed;
}
body {
	background-image:url('images/bg.jpeg');
}
body#admin {
	background-image:url('images/bg_admin.jpeg');
}
div.main-wrapper {
	background-image:url('../main/images/icecube_corner.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom:0px;
	margin-top:60px !important;
}
.topnav li {
	border-radius: 3px;
}
.navbar-right {
	margin-right:25px !important;
}
.article-img {
	border-radius: 3px;
	box-shadow:inset 0px 0px 10px -1px white, 0px 0px 6px -2px black;
}
.article * {
	max-width: 100%;
}
#adminprefs,#adminprefs form {
	font-size:17px !important;
	margin-bottom: 15px;
}
#adminheader {
	z-index: 1;
	background:hsla(0,0%,100%,.5);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
}
#admincontainer {
	background:hsla(0,0%,100%,.5);
	right: 0px;
	left: 235px;
	bottom: 0px;
	top: 75px;
	position: fixed;
	z-index: 0;
	box-shadow: 0px 0px 20px -10px black;
	border-radius: 0px;
}
.adminfullscreen-true {
	background-position: -25px 0 !important;
}
.template-preview {
	float: left;
	border: 7px solid hsla(0,0%,100%,.5);
	border-radius: 5px;
	margin:5px;
}
.template-preview-screeny {
	border-radius: 3px 3px 0px 0px;
	width: 350px;
	height: 200px;
	background-size: cover;
	background-color: hsla(0,0%,100%,.3);
}
.template-preview-name {
	margin-top: -50px;
	font-size: 20px;
	padding:7px;
	padding-left: 15px;
	padding-top: 14px;
	color: white;
	background:linear-gradient(rgba(0,0,0,0),rgba(30,30,30,.7));
	background:-webkit-linear-gradient(rgba(0,0,0,0),rgba(30,30,30,.7));
}
.template-preview-btns {
	width: 350px;
	height: 100px;
	background-color: hsla(0,0%,0%,.7);
	opacity: 0;
	text-align: center;
	padding-top: 100px;
	position: relative;
	z-index: 3;
	transition:.5s;
	-webkit-transition:.5s;
}
.template-preview-btns:hover {
	opacity: 1;
}
.template-preview img {
	margin-top:-25px;margin-right:5px;float:right;width:55px;
}
#editortools td {
	padding:4px;
}
#editortools {
	margin-left: 40px;
}
.addcontent {
	float: right;
	margin-right: -20px;
}
.addcontent div {
	display: inline-block;
	margin-top: -10px;
	padding: 5px 10px;
	padding-left: 34px;
	border-radius: 5px;
	background-color:hsla(0,0%,100%,.95);
	border:1px solid hsla(200,50%,65%,.3);
	background-image: url("../main/images/add.gif");
	background-position: 9px;
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: cover;
	transition:.25s;
	-webkit-transition:.25s;
	position: relative;
	z-index: 19;
}
.addcontent div.preferences-icon {
	background-position: 9px 7px;
	background-image: url("../main/images/preferences.gif");
}
.addcontent div:hover {
	background-color:hsla(200,50%,98%,1);
	border:1px solid hsla(200,50%,65%,.5);
}
.addcontent a:hover {
	text-decoration:none;
}
.clear {
	display: block;
	clear: both;
}
.article {
	float:left;
	display:inline;
	padding:20px;
}
.article h2 {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -.1px;
	font-family: sans-serif;
}
.articlefooter {
	text-align: center;
	color: #666;	
}
.article-img {
	border-radius: 3px;
	margin:5px;
	box-shadow:0px 0px 4px hsla(0,0%,0%,.6);
}
.article-img.left {
	float:left;
}
.article-img.right {
	float:right;
}
.article-img.middle {
	float: none;
}
.article-img.large {
	width: 600px;
}
.article-img.medium {
	width: 450px;
}
.article-img.small {
	width: 250px;
}
.main-wrapper-pre img {
	width: 100%;
	border-radius: 5px;
	box-shadow: 3px 3px -1px #555;
}
.pre {
	width:100%;
	white-space:pre-wrap;
	display: block;
	margin-bottom: 15px;
}
.aside {
	padding-top: 50px;
	float:left;
	display:inline;
}
.aside li {
	list-style-type: square;
	list-style-image: url("../main/images/list-style.gif");
	transition:.3s;
	-webkit-transition:.3s;
}
.aside a:hover {
	text-decoration: none;
	color: #037;
}
.loginmenu {
	float: right;
}
.loginmenu li {
	float: left;
	list-style-type: none;
	transition:0;
	list-style: none;
	border-radius: 15px;
	background-color:hsla(0,0%,100%,.92);
	padding:2px 8px;
	padding-bottom:3px;
	text-decoration:none;
	margin-right:10px;
	border:1px solid hsla(200,50%,50%,.3);
}
.uppernav {
	display:block;
	height: 30px;
}
.searchform {
	transition:0;
	width:150px;
	margin-bottom:3px !important;
	float: right;
}
.searchform input {
	padding:2.5px 5.5px;
	border:1px solid hsla(200,50%,0%,.7);
	width:160px;
	background-color:hsla(0,0%,100%,.95);
	margin-bottom:3px !important;
	border-radius: 15px;
}
.searchform input:hover{
	transition:.5s;
	background-color:hsla(0,0%,100%,1);
}
.searchform input:focus{
	background:#fff;
}
.searchform button {
	margin-left:-35px;
	cursor:pointer;
	border:0;
	background:0;
	position: absolute;
	height: 27px;
}
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
table {
	background-color: transparent;
}
th {
	text-align: left;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.table td, .table th {
	padding: 5px 0px 6px 0px;
	border-top: 1px solid hsla(0,0%,100%,.4);
}
table.preflist {
	width: 100%;
	border: 1px solid black;
}
table.preflist td {
	border: 1px solid black;
	padding: 7px 10px;
	color: #000;
}
table.preflist td:first-of-type {
	width: 350px;
	font-weight: bolder;
	background:#ccf;
}
table.preflist td:last-of-type {
	background:#ccc;
}
.expanded{width:100% !important;height:100% !important;position:fixed !important;z-index:101 !important;left:0 !important;top:0 !important;}
.edit {
	background:#333;
	border:2px solid #333;
	border-radius: 50%;
	width: 38px;
	transition: .7s;
}
#editortools td:hover .edit {
	background: #a00;
	border:2px solid #a00;
	transform:rotateZ(9deg);
	-webkit-transform:rotateZ(9deg);
}
#editortools td:hover {
	background: hsla(200,40%,95%,1);
	border-radius: 10px;
}
#editortools td:hover a {
	text-decoration: none;
}
#editortools td {
	font-size: 18px;
	padding:2px;
	padding-bottom: 0px;
}
.deleteicon {
	float:right;
	background:#a00;
	width:30px;
	margin-top:-18px;
	height:30px;
	border-radius:50%;
	border:3px solid #a00;
}
.deleteicon:hover {
	background:#a00;
	border:3px solid #a00;
}
.profilepic {
	opacity: .9;
	display: inline-block;
	height: 45px;
	width: 45px;
	background-size: cover;
	float: left;
	margin: -2px;
	margin-right: 8px;
	margin-left: -5px;
	border-radius: 50%;
	box-shadow:inset 0px 0px 10px -5px black, 0px 0px 10px -5px white;
	background-image: url(../main/images/profilepic.jpg);
}
.changeopacity {
	opacity: .7;
}
.changeopacity:hover,.changeopacity.visible {
	opacity: 1 !important;
}
.fullscreen,.blackscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999999999999;
	width: 100%;
	height: 100%;
	text-align: center;
	background-size: cover !important;
}
.blackscreen {
	background:hsla(0,0%,0%,.5);
}
#registerform label {
	display: inline-block;
	padding:8px 0px 2px 0px;
	font-size: 4.5mm;
}
img.thumb {
	border-radius: 3px;
}
div.content-wrapper {
	padding: 20px 30px;
	padding-top: 0;
}
div.main-wrapper {
	width: 900px;
	margin:auto;
	background:hsla(0,0%,91%,.9);
	box-shadow: 0px 0px 6px -4px black;
	border-radius: 4px;
}
.header {
	background:#eee;
}
nav {
	z-index: 20;
}
.topnav {
	position: relative;
	z-index: 99999;
}
.topnav a,.topnav a:hover {
	text-decoration:none !important;
	text-decoration: none;
	margin: -14px;
	color: #333;
}
.topnav li {
	color: #333;
	float: left;
	padding: 7px 32px;
	margin: 4px;
	background-color: hsla(0,0%,100%,.65);
	border-radius: 4px;
	margin-top: 6px;
	margin-left: -26px;
	margin-right: 33px;
	list-style-type: none;
	transition:0s !important;
	-webkit-transition:0s !important;
	width: auto;
	white-space: nowrap;
}
.topnav li:hover {
	background-color: hsla(0,0%,100%,.7);
	color: #333;
}
.topnav li:active {
	background-color: hsla(0,0%,100%,.9);
}
.topnav li.active {
	background-color: hsla(200,65%,85%,.8);
}
.topnav li,li.li-thin {
	padding-left: 15px;
	padding-right: 15px;
}
.topnav .pagetabs li,li.li-wide {
	padding-left: 30px;
	padding-right: 30px;
}
.topnav .subnav {
	min-width: 80px;
	max-width: 280px;
	margin-top: 14px;
	margin-top: 10px;
	margin-top: 7px;
	margin-left: -30px;
/*	box-shadow: 0px 0px 50px -10px hsla(0,0%,0%,.3);*/
	padding: 3px 14px !important;
	padding-bottom: 0px !important;
	border-radius:3px !important;
	opacity: .95;
	padding-right: 20px;
	padding-top: 10px !important;
}
.topnav .subnav a {
	color: #333;
	border-radius:5px !improtant;
	box-shadow: 0px 0px 0px -3px black;
	border-radius: 1px !important;
	border-bottom:1px solid hsla(0,0%,0%,.05);
	border-left:1px solid hsla(0,0%,0%,.1);
	border-right:1px solid hsla(0,0%,0%,.1);
	background-color: hsla(0,0%,95%,.95);
	padding:4px 10px;
	display:block;
	margin-top: -6px !important;
}
.topnav .subnav a:last-of-type {
	border-left:1px solid hsla(0,0%,0%,.1);
	border-right:1px solid hsla(0,0%,0%,.1);
	border-radius: 0px 0px 3px 3px !important;
	margin-bottom: -20px;
}
.topnav .subnav a:nth-of-type(2) {
	border-radius: 3px 3px 0px 0px !important;
}
.topnav .subnav a:first-of-type {
	margin-bottom: -9px;
	border-top:1px solid hsla(0,0%,0%,.1);
	border-radius:3px !important;
	height: 0;
}
.topnav .subnav a:hover {
	background-color: hsla(0,0%,100%,.95);
}
.leftnav {
	z-index: 1;
	background:hsla(0,0%,100%,.5);
	width: 230px;
	position: fixed;
	top: 70px;
	left: 0;
	height: 100%;
	box-shadow: 0px 20px -10px black;
}
.leftnav.sprite li.dropdown {
	background-position: 0 -447px !important;
}
.leftnav.sprite li {
	overflow: hidden;
	height: 22px;
	height: 45px !important;
	background-image:url(../main/images/admin_li_sprite.png);
	padding-left: 50px;
	background-repeat: no-repeat;
}
.leftnav li {
	padding: 12px 15px;
	list-style-type: none;
	cursor: pointer;
}
.leftnav li:hover {
	background-color: hsla(0,0%,100%,.15);
}
.leftnav li:active,.leftnav li.active {
	background-color: hsla(0,0%,100%,.6);
}
.leftnav li.dropdown {
	height: 30px !important;
	padding: 4px 10px;
/*	border-top:1px solid hsla(0,0%,0%,.3);*/
	padding-left: 20px;
}
.leftnav li.dropdown:hover {
	background-color: hsla(0,0%,100%,.8);
}
.leftnav a {
	color: #333 !important;
	text-decoration: none !important;
}
textarea {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	text-align: left;
}
input, select, textarea {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border-radius: 4px;
	color: #333;
	background:hsla(0,0%,100%,.5);
	border:1px solid hsla(0,0%,100%,.7);
	text-align: left;
}
.bg {
	padding: 6px 12px;
	border-radius: 4px;
	color: #333;
	background:hsla(0,0%,100%,.5);
	border:1px solid hsla(0,0%,100%,.7);
}
.article-attachments li {
	float: left;
	list-style:none;
	margin: 3px 3px;
	border:1px solid hsla(0,0%,70%,.7);
}
.article-attachments {
	padding-left: 3px;
	padding-right: 3px;
}
.dropdown-nopadding li a {
	padding-left:10px !important;
	padding-right:10px !important;
}
.remove,.edit,.link {
	padding: 6px 12px;
	padding: 2px 10px;
	border-radius: 4px;
	color: #333;
	background:hsla(200,100%,85%,.8);
/*	background:red;*/
	border:1px solid hsla(0,0%,75%,.7);
	background-image: url(../main/images/ui-icons_222222_256x240.png);
	background-position: -94px -126px;
	cursor: pointer;
	margin-left:8px;
	margin-right:-8px;
}
.edit {
	background-position: -62px -110px;
}
.link {
	background-position: -238px -110px;
}
.article-attachments-show a {
/*	background-image: url(../main/images/download.png) !important;*/
/*	background-repeat: no-repeat;*/
/*	background-position: right center;*/
/*	padding-right:30px;*/
	margin:-5px 2px;
	display:inline-block;
}
input[type=submit] {
 	padding-top: 5px;
 	padding-bottom: 5px;
 	text-align: center;
}
.loginmenu input {
	margin:5px;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: hsla(0,0%,90%,.7);
	border-color: #ccc;
}/*
.btn:hover, input[type=submit]:hover {
	background:hsla(0,0%,100%,.8);
}
.btn:active, input[type=submit]:active {
	background:hsla(0,0%,100%,1);
}*/
/*.btn:hover {
	color: #333;
	text-decoration: none;
}
.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
					box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}*/
.form-block {
	margin-top: 5px;
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.btn-comis {
	outline: none !important;
	text-decoration: none !important;
	color: #333;
	padding: 5px 16px;
	background-color: hsla(0,0%,100%,.7);
	border-radius: 4px;
	letter-spacing: .7px;
	box-shadow:0px 0px 7px -3px hsla(0,0%,0%,.2);
	transition:.15s;
	-webkit-transition:.15s;
}
.btn-comis:hover {
	background-color: hsla(0,0%,95%,.8);
}
.btn-comis:active {
	background-color: hsla(0,0%,95%,.9);
}
hr {
	border: 0;
	background: #eee;
	height: 1px;
}
a {
	color: #428bca;
	text-decoration: none;
}
a:hover,a:focus {
	color: #2a6496;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.comment,.search-result {
	border:1px solid hsla(0,0%,80%,1);
	margin-top: 2px;
	margin-bottom: 5px;
	padding: 10px 12px;
	background:hsla(0,0%,100%,1) !important;
	clear: both;
	border-radius: 5px !important;
}
.search-result::first-line {
	font-size: 18px;
}
.comment::first-line {
	font-weight: bold;
}
.comment-input {
	width:75%;
}
.comment-submit {
	float: right;
	width:18%;
}
.loginform input {
	width: 240px;
	margin-top: 3px;
}
.notification {
	position:fixed;
	bottom:30px;
	right:40px;
	z-index:9999999999;
	border-radius:9px;
	background:hsla(100,100%,60%,.8);
	border:1px solid hsla(100,100%,90%,.8);
	width:auto;
	padding:13px;
}
footer {
	clear: both;
	text-align: center;
	margin-top: 10px;
	color:#333;
	margin:auto;
/*	background:hsla(0,0%,90%,.9);*/
/*	box-shadow: 0px 0px 6px -4px black;*/
	margin-top: 15px;
	margin-bottom: -10px;
	padding: 5px 40px;
/*	border-radius: 4px 4px 0px 0px;*/
}
footer a {
	color: #333;
}
a.icon-file,a.icon-dir,a.icon-img,a.icon-unknown {
	padding:5px;
	color:#333 !important;
	display: block;
	background-size:  auto 30px;
	margin-top:2px;
	margin-bottom:-10px;
	padding-left: 40px;
	background-repeat: no-repeat;
}
a.icon-unknown {
	background-image: url(../main/images/icon-unknown.gif);
}
a.icon-dir {
	background-image: url(../main/images/icon-dir.gif);
}
a.icon-img {
	background-image: url(../main/images/icon-img.gif);
}
a.icon-file {
	background-image: url(../main/images/icon-file.gif);
}
.err
{
	text-shadow: 1px 1px 1px #333;
	color: white !important;
}
.err a
{
	color: #fb0;
}
.err a:hover
{
	color: orange;
}
.magic-blackscreen.blackscreen {
	display:none;
}
.jsalert .btn-bar {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background:gray;
	left: 0;
	text-align: right;
	padding:16px;
	display: block;
}
.jsalert hr {
	display: none;
}
.jsalert {
	text-align: justify;
	position: fixed;
	z-index: 99999999999999;
	top: 50%;
	left:50%;
	width:500px;
	height: 200px;
	margin-top: -150px;
	margin-left: -270px;
	background: lightgray;
	padding:20px;
	font-size: 20px;
	border:2px solid gray;
	border-radius:9px;
	box-shadow:0px 0px 20px black;
}
.invertcolor {
	color:#0f0;
	background:#000;
}
input.quickinput {
	background:none;border:none !important;border-bottom:1px dotted hsla(0,0%,0%,.4) !important;border-radius:0;
}
.create-empty:hover {
	background-color:hsla(0,0%,100%,1);
	opacity: .5;
}
.create-empty:active, .create-empty.active {
	background-color:hsla(0,0%,100%,1);
	opacity: .9;
}
.create-empty {
/*	border-radius: 25px;*/
	display: block;
	width: 45px;
	height: 45px;
	background-color:hsla(0,0%,100%,0);
	background-image:url(../main/images/add-gray.gif);
	background-size: 31px 31px;
	background-position: 7px 7px;
	opacity: .2;
	background-repeat: no-repeat;
	float: right;
	margin-right: -14px;
	margin-top: -11px;
}
#comismenu {
	position:absolute !important
}
.ui-menu-item {
	width: 150px !important;
	padding:4px 10px !important;
	border:0px solid #e4ecf6 !important;
	display:block;width:150px
}
.ui-menu-item ul {
	box-shadow:5px 5px 10px -6px black;
	border:1px solid white !important;
}
.ui-menu-item ul.ul-menu.ui-widget.ui-front {
}
.ui-menu-item:hover,.ui-menu-item:active,.ui-menu-item.active,.ui-menu-item:focus {
	border:0px solid #e4ecf6 !important;
	padding:5px 11px !important;
}
.ui-menu-item .ui-menu-item:hover,.ui-menu-item .ui-menu-item:active,.ui-menu-item .ui-menu-item:focus {
	border:0px solid #d3e2f6 !important;
	background: #d3e2f6 !important;
}
.changes-disabled {
	opacity: .5;
	cursor: not-allowed;
}
#widgets{padding:0;width:100%}.widget-icon-toggle:hover{opacity:.8;}.widget-icon-settings{cursor:pointer;opacity:.4;float:right;margin-right:6px;margin-top:4px;height:21px;width:21px;background-image:url('../main/images/widget-sprite.gif');background-position:-42px 0;}.widget-icon-toggle{cursor:pointer;opacity:.3;float:right;margin-right:-6px;margin-top:4px;height:21px;width:21px;background-image:url('../main/images/widget-sprite.gif');//transition:.5s;}.widget-icon-toggle-show{background-position:0 0;}.widget-icon-toggle-show:hover{cursor:zoom-in;/*background-position:-21px 0;*/}.widget-icon-toggle-hide{background-position:-21px 0;}.widget-icon-toggle-hide:hover{cursor:zoom-out;/*background-position:0 0;*/}.widget{display:inline-block;margin:2px;float:left;width:400px;border:1px solid hsla(0,0%,100%,.2);background:hsla(0,0%,100%,.2);border-radius:4px;padding: 10px 20px;height:auto;color:#333;}.widget.widget-hidden:hover{opacity:1 !important;}.widget-hidden{opacity:1 !important;height:30px !important;overflow:hidden !important;}.widget-column {width: 440px;float: left;padding-bottom: 100px !important;}.widget {margin: 0 1em 1em 0 !important;}.widget-placeholder {border: 1px dotted black !important;margin: 0 1em 1em 0 !important;height: 50px !important;}
h1.widget-headline {
	font-size:19px !important;
	font-weight:200;
	margin:10px -11px;
	padding:3px 13px;
	margin-top:0;
	cursor:grab;
/*	background:red !important;*/
	border:none;
	border-radius:0px;
	border-bottom:1px solid hsla(0,0%,100%,.3);
	font-size:19px;
	font-weight:200;
	padding:3px 13px;
	margin-top:0;
}
.dialog-order-pages * {
	overflow: hidden !important;
}
.dialog-order-list li {
	margin: 4px -9px;
	padding: 5px 15px;
	background:#eee;
	list-style: none;
	cursor: pointer;
	border-radius: 2px;
}
.dialog-order-list li:hover {
	background:#dde;
}
.topnav-toggle {
	display: none;	
}
.infobubble {
	position: absolute;
	z-index: 10;
	background:white;
	background:#fff;
	padding: 10px;
}
.tmp-userinfo.infobubble {
	background:#fff;
	margin-left: 50px;
/*	min-height: 20px;*/
	min-width: 200px;
	border-radius: 5px;
	box-shadow:0px 0px 10px -4px black;
}
.cursor-default {
	cursor:default;
}
.cursor-pointer {
	cursor:pointer;
}
.radio-select:first-of-type {
	border-radius:5px 0px 0px 5px;
}
.radio-select:last-of-type {
	border-radius:0px 5px 5px 0px;
}
.radio-select {
	padding: 10px;
	background:#fff;
	border:1px solid #ccc;
	height: 50px;
	width: 58px;
	display: inline-block;
	margin-left: -1px;
}
.register-profilepics-choose {
	margin-top: 5px;
	margin-left: 1px;
}
@media all and (min-width:1200px) {
	.main-wrapper,footer {
		width: 1000px !important;
	}
}
@media all and (max-width:1200px) and (min-width:1000px) {
	.main-wrapper,footer {
		width: 1000px !important;
	}
}
@media all and (max-width:1000px) and (min-width:900px) {
	.main-wrapper,footer {
		width: 800px !important;
	}
}
@media all and (max-width:900px) and (min-width:800px) {
	.main-wrapper,footer {
		width: 700px !important;
	}
}
@media all and (max-width:800px) {
	//800 and smaller
	.main-wrapper,footer {
		width: 600px !important;
	}
	.aside {
		display: none;
	}
	.article {
		padding: 5px 10px;
/*		background:red;*/
		margin-left: 25px;
		width: 100%;
	}
}
@media all and (max-width:700px) and (min-width:500px) {
	.main-wrapper,footer {
		width: 500px !important;
	}
}
@media all and (max-width:800px) {
	/*min means smaller than
	max means greater than*/
	footer {
		width: 84% !important;
		text-align: center;
	}
	* {
		max-width: 100%;
	}
	.navbar * {
		max-width: 200%;
	}
	.searchform, .loginmenu, .addcontent {
		display: none;
	}
	.main-wrapper {
		width:  94% !important;
		padding: 3% !important;
		padding-left: 0% !important;
	}
	/*.headpicture {
		margin: 0 !important;
/*		margin-top: -30px !important;*/
	/*.topnav li, .loginmenu li {
		display: block !important;
		float: none;
		margin:0;
		margin-top: -10px;
		padding: 7px 3% !important;
		width: 94% !important;
		background: #eee;
	}
	.topnav li.pagetab {
		padding-left: 20px !important;
	}
	.topnav {
		position:absolute !important;
		background:hsla(0,0%,0%,.9);
		min-height: 100%;
		top: 0;
	}
	.topnav,.uppernav {
		display: none;
		position: absolute;
		width: 94% !important;
		padding: 5px 3% !important;
		left: 0;
	}
	.topnav-toggle {
		z-index: 99;
		display: block;
		position: fixed;
		top:10px;
		right: 10px;
		height: 50px;
		width: 50px;
		background-color: #222;
		opacity: .9;
		border-radius: 50%;
		background-size: cover;
		border:1px solid #222;
		box-shadow:0px 0px 10px black;
		background-image: url(../main/images/menu.png);	
	}
	.uppernav {
		bottom:0;
		height: 100px;
		z-index:99;
	}*/
	.headpicture-uploadform {
		position: absolute;
		top: 100px;
		left: 100px	
	}
	.loginmenu li {
		display: inline-block !important;
		width: auto !important;
		float: right;
		margin:0px 5px;
	}
	.loginmenu  {
		width: 100% !important;
		display: inline-block;
	}
	.hideonmobile {
		display: none;	
	}
	.subnav {
		left: 50px;	
	}
	.subnav li {
		background:#eee;
	}
}

